In [45]:
import pandas as pd
import numpy as np

#Importing data into the dataframe

traindata=pd.read_csv("C:/Users/aarthiksundaram/Downloads/covid19-global-forecasting-week-2/train.csv")
testdata=pd.read_csv("C:/Users/aarthiksundaram/Downloads/covid19-global-forecasting-week-2/test.csv")

In [46]:
#To analyse the top five rows
traindata.head()

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1            NaN    Afghanistan  2020-01-22             0.0         0.0
1   2            NaN    Afghanistan  2020-01-23             0.0         0.0
2   3            NaN    Afghanistan  2020-01-24             0.0         0.0
3   4            NaN    Afghanistan  2020-01-25             0.0         0.0
4   5            NaN    Afghanistan  2020-01-26             0.0         0.0

In [48]:
#To analyse the top five rows
testdata.head()

   ForecastId Province_State Country_Region        Date
0           1            NaN    Afghanistan  2020-03-19
1           2            NaN    Afghanistan  2020-03-20
2           3            NaN    Afghanistan  2020-03-21
3           4            NaN    Afghanistan  2020-03-22
4           5            NaN    Afghanistan  2020-03-23

In [49]:
#To find the count shape of the data
traindata.shape

(19110, 6)

In [50]:
#To find the bottom five rows
traindata.tail()

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities
19105,29361,NaN,Zimbabwe,2020-03-22,3.0,0.0
19106,29362,NaN,Zimbabwe,2020-03-23,3.0,1.0
19107,29363,NaN,Zimbabwe,2020-03-24,3.0,1.0
19108,29364,NaN,Zimbabwe,2020-03-25,3.0,1.0
19109,29365,NaN,Zimbabwe,2020-03-26,3.0,1.0

In [51]:
#To find the number of missing values
traindata.isnull().sum()

Id                    0
Province_State    10985
Country_Region        0
Date                  0
ConfirmedCases        0
Fatalities            0
dtype: int64

In [52]:
traindata[~traindata['Province_State'].isnull()]['Country_Region'].value_counts()

US                3510
China             2145
Canada             650
France             585
Australia          520
United Kingdom     390
Netherlands        195
Denmark            130
Name: Country_Region, dtype: int64

In [53]:
#Deleting the Id, since there is no use of it
df=traindata.drop(['Id'], axis=1)
df

      Province_State Country_Region        Date  ConfirmedCases  Fatalities
0                NaN    Afghanistan  2020-01-22             0.0         0.0
1                NaN    Afghanistan  2020-01-23             0.0         0.0
2                NaN    Afghanistan  2020-01-24             0.0         0.0
3                NaN    Afghanistan  2020-01-25             0.0         0.0
4                NaN    Afghanistan  2020-01-26             0.0         0.0
5                NaN    Afghanistan  2020-01-27             0.0         0.0
6                NaN    Afghanistan  2020-01-28             0.0         0.0
7                NaN    Afghanistan  2020-01-29             0.0         0.0
8                NaN    Afghanistan  2020-01-30             0.0         0.0
9                NaN    Afghanistan  2020-01-31             0.0         0.0
10               NaN    Afghanistan  2020-02-01             0.0         0.0
11               NaN    Afghanistan  2020-02-02             0.0         0.0
12               NaN    Afghanistan  2020-02-03             0.0         0.0
13               NaN    Afghanistan  2020-02-04             0.0         0.0
14               NaN    Afghanistan  2020-02-05             0.0         0.0
15               NaN    Afghanistan  2020-02-06             0.0         0.0
16               NaN    Afghanistan  2020-02-07             0.0         0.0
17               NaN    Afghanistan  2020-02-08             0.0         0.0
18               NaN    Afghanistan  2020-02-09             0.0         0.0
19               NaN    Afghanistan  2020-02-10             0.0         0.0
20               NaN    Afghanistan  2020-02-11             0.0         0.0
21               NaN    Afghanistan  2020-02-12             0.0         0.0
22               NaN    Afghanistan  2020-02-13             0.0         0.0
23               NaN    Afghanistan  2020-02-14             0.0         0.0
24               NaN    Afghanistan  2020-02-15             0.0         0.0
25               NaN    Afghanistan  2020-02-16             0.0         0.0
26               NaN    Afghanistan  2020-02-17             0.0         0.0
27               NaN    Afghanistan  2020-02-18             0.0         0.0
28               NaN    Afghanistan  2020-02-19             0.0         0.0
29               NaN    Afghanistan  2020-02-20             0.0         0.0
...              ...            ...         ...             ...         ...
19080            NaN       Zimbabwe  2020-02-26             0.0         0.0
19081            NaN       Zimbabwe  2020-02-27             0.0         0.0
19082            NaN       Zimbabwe  2020-02-28             0.0         0.0
19083            NaN       Zimbabwe  2020-02-29             0.0         0.0
19084            NaN       Zimbabwe  2020-03-01             0.0         0.0
19085            NaN       Zimbabwe  2020-03-02             0.0         0.0
19086            NaN       Zimbabwe  2020-03-03             0.0         0.0
19087            NaN       Zimbabwe  2020-03-04             0.0         0.0
19088            NaN       Zimbabwe  2020-03-05             0.0         0.0
19089            NaN       Zimbabwe  2020-03-06             0.0         0.0
19090            NaN       Zimbabwe  2020-03-07             0.0         0.0
19091            NaN       Zimbabwe  2020-03-08             0.0         0.0
19092            NaN       Zimbabwe  2020-03-09             0.0         0.0
19093            NaN       Zimbabwe  2020-03-10             0.0         0.0
19094            NaN       Zimbabwe  2020-03-11             0.0         0.0
19095            NaN       Zimbabwe  2020-03-12             0.0         0.0
19096            NaN       Zimbabwe  2020-03-13             0.0         0.0
19097            NaN       Zimbabwe  2020-03-14             0.0         0.0
19098            NaN       Zimbabwe  2020-03-15             0.0         0.0
19099            NaN       Zimbabwe  2020-03-16             0.0         0.0
19100            NaN       Zimbabwe  2020-03-17             0.0         0.0
19101            NaN       Zimbabwe  2020-03-18             0.0         0.0
19102            NaN       Zimbabwe  2020-03-19             0.0         0.0
19103            NaN       Zimbabwe  2020-03-20             1.0         0.0
19104            NaN       Zimbabwe  2020-03-21             3.0         0.0
19105            NaN       Zimbabwe  2020-03-22             3.0         0.0
19106            NaN       Zimbabwe  2020-03-23             3.0         1.0
19107            NaN       Zimbabwe  2020-03-24             3.0         1.0
19108            NaN       Zimbabwe  2020-03-25             3.0         1.0
19109            NaN       Zimbabwe  2020-03-26             3.0         1.0

[19110 rows x 5 columns]

In [37]:
#Finding the importing insights
import datetime
print ("How many Province on train set ==> " +str(len(df["Province_State"].unique())))
print ("How many country on train set ==> " +str(len(df["Country_Region"].unique())))
print ("Date period for train set ==> " +df["Date"].unique()[0]+" to "+df["Date"].unique()[-1])

How many Province on train set ==> 126
How many country on train set ==> 173
Date period for train set ==> 2020-01-22 to 2020-03-26

In [22]:
#Finding the different different types countries in the data
df['Country_Region'].value_counts()

US                       3510
China                    2145
Canada                    650
France                    650
Australia                 520
United Kingdom            455
Netherlands               260
Denmark                   195
Turkey                     65
Mauritius                  65
Jordan                     65
Zimbabwe                   65
Georgia                    65
Gabon                      65
Brazil                     65
Angola                     65
Jamaica                    65
Papua New Guinea           65
Eswatini                   65
Azerbaijan                 65
Ireland                    65
Thailand                   65
Ukraine                    65
Seychelles                 65
Russia                     65
Syria                      65
Taiwan*                    65
Iran                       65
Zambia                     65
Belgium                    65
                         ...
Kenya                      65
Barbados                   65
Monaco                     65
Saint Lucia                65
Mozambique                 65
Liberia                    65
Ghana                      65
Holy See                   65
Oman                       65
Costa Rica                 65
Greece                     65
Guinea-Bissau              65
Bhutan                     65
Kuwait                     65
Lithuania                  65
Cambodia                   65
Pakistan                   65
Belarus                    65
Nepal                      65
Nicaragua                  65
Saint Kitts and Nevis      65
Cameroon                   65
Iraq                       65
San Marino                 65
Luxembourg                 65
Egypt                      65
Chad                       65
Maldives                   65
Somalia                    65
Spain                      65
Name: Country_Region, Length: 173, dtype: int64

In [28]:
#Finding the highly affected areas

df1=df.loc[(df['ConfirmedCases']>=1000) & (df['Date']>="2020-03-01")].sort_values('Date')

In [29]:
#printing the highly affected areas

df1

      Province_State  Country_Region        Date  ConfirmedCases  Fatalities
5304        Zhejiang           China  2020-03-01          1205.0         1.0
4069           Hubei           China  2020-03-01         66907.0      2761.0
4134           Hunan           China  2020-03-01          1018.0         4.0
3549       Guangdong           China  2020-03-01          1349.0         7.0
9139             NaN           Italy  2020-03-01          1694.0        34.0
9529             NaN    Korea, South  2020-03-01          3736.0        17.0
3939           Henan           China  2020-03-01          1272.0        22.0
3940           Henan           China  2020-03-02          1272.0        22.0
3550       Guangdong           China  2020-03-02          1350.0         7.0
5305        Zhejiang           China  2020-03-02          1206.0         1.0
8880             NaN            Iran  2020-03-02          1501.0        66.0
4135           Hunan           China  2020-03-02          1018.0         4.0
9140             NaN           Italy  2020-03-02          2036.0        52.0
9530             NaN    Korea, South  2020-03-02          4335.0        28.0
4070           Hubei           China  2020-03-02         67103.0      2803.0
9531             NaN    Korea, South  2020-03-03          5186.0        28.0
3551       Guangdong           China  2020-03-03          1350.0         7.0
4071           Hubei           China  2020-03-03         67217.0      2835.0
5306        Zhejiang           China  2020-03-03          1213.0         1.0
9141             NaN           Italy  2020-03-03          2502.0        79.0
4136           Hunan           China  2020-03-03          1018.0         4.0
3941           Henan           China  2020-03-03          1272.0        22.0
8881             NaN            Iran  2020-03-03          2336.0        77.0
4072           Hubei           China  2020-03-04         67332.0      2871.0
3942           Henan           China  2020-03-04          1272.0        22.0
8882             NaN            Iran  2020-03-04          2922.0        92.0
4137           Hunan           China  2020-03-04          1018.0         4.0
3552       Guangdong           China  2020-03-04          1350.0         7.0
5307        Zhejiang           China  2020-03-04          1213.0         1.0
9142             NaN           Italy  2020-03-04          3089.0       107.0
...              ...             ...         ...             ...         ...
13649            NaN           Spain  2020-03-26         57786.0      4365.0
13064            NaN    Saudi Arabia  2020-03-26          1012.0         3.0
12609            NaN         Romania  2020-03-26          1029.0        23.0
12479            NaN        Portugal  2020-03-26          3544.0        60.0
14884     California              US  2020-03-26          3899.0        81.0
14949       Colorado              US  2020-03-26          1430.0        19.0
15014    Connecticut              US  2020-03-26          1012.0        21.0
12414            NaN          Poland  2020-03-26          1221.0        16.0
12024            NaN        Pakistan  2020-03-26          1201.0         9.0
15209        Florida              US  2020-03-26          2357.0        29.0
11894            NaN          Norway  2020-03-26          3369.0        14.0
15274        Georgia              US  2020-03-26          1525.0        48.0
6434             NaN         Ecuador  2020-03-26          1403.0        34.0
11504            NaN     Netherlands  2020-03-26          7431.0       434.0
15534       Illinois              US  2020-03-26          2538.0        26.0
10204            NaN      Luxembourg  2020-03-26          1453.0         9.0
9554             NaN    Korea, South  2020-03-26          9241.0       131.0
15859      Louisiana              US  2020-03-26          2304.0        83.0
9294             NaN           Japan  2020-03-26          1387.0        47.0
16054  Massachusetts              US  2020-03-26          2417.0        25.0
9164             NaN           Italy  2020-03-26         80589.0      8215.0
9099             NaN          Israel  2020-03-26          2693.0         8.0
16119       Michigan              US  2020-03-26          2845.0        61.0
9034             NaN         Ireland  2020-03-26          1819.0        19.0
14234            NaN        Thailand  2020-03-26          1045.0         4.0
8904             NaN            Iran  2020-03-26         29406.0      2234.0
16639     New Jersey              US  2020-03-26          6876.0        81.0
7929             NaN         Germany  2020-03-26         43938.0       267.0
10334            NaN        Malaysia  2020-03-26          2031.0        23.0
18719            NaN  United Kingdom  2020-03-26         11658.0       578.0

[488 rows x 5 columns]

In [34]:
#Finding the importing insights
import datetime
print ("How many Province on train set ==> " +str(len(df1["Province_State"].unique())))
print ("How many country on train set ==> " +str(len(df1["Country_Region"].unique())))
print ("Date period for train set ==> " +df1["Date"].unique()[0]+" to "+df1["Date"].unique()[-1])

How many Province on train set ==> 23
How many country on train set ==> 34
Date period for train set ==> 2020-03-01 to 2020-03-26

In [59]:
#Find whether is there any null values for States in India country

traindata[traindata['Country_Region'] == 'India']['Province_State'].isnull().sum()

65

In [60]:
#Find whether is there any null values for States in Dubai country

traindata[traindata['Country_Region'] == 'Dubai']['Province_State'].isnull().sum()

0

In [62]:
#Finding the name of the Province in Dubai

traindata[traindata['Country_Region'] == 'Dubai']['Province_State'].unique()

array([], dtype=object)

In [61]:
#Find whether is there any null values for States in Bahrain country

traindata[traindata['Country_Region'] == 'Bahrain']['Province_State'].isnull().sum()

65

In [63]:
#Find whether is there any null values for States in US country

traindata[traindata['Country_Region'] == 'US']['Province_State'].isnull().sum()

0

In [64]:
#Finding the name of the Province in US

traindata[traindata['Country_Region'] == 'US']['Province_State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [69]:
cases=traindata.groupby(by='Country_Region')[['ConfirmedCases','Fatalities']].sum()
cases

                        ConfirmedCases  Fatalities
Country_Region
Afghanistan                      541.0         9.0
Albania                         1171.0        37.0
Algeria                         2154.0       159.0
Andorra                         1132.0         7.0
Angola                            18.0         0.0
Antigua and Barbuda               26.0         0.0
Argentina                       2631.0        58.0
Armenia                         1925.0         1.0
Australia                      16461.0       112.0
Austria                        40307.0       178.0
Azerbaijan                       801.0        17.0
Bahamas                           40.0         0.0
Bahrain                         5409.0        21.0
Bangladesh                       302.0        24.0
Barbados                         105.0         0.0
Belarus                          881.0         0.0
Belgium                        37107.0       854.0
Belize                             6.0         0.0
Benin                             35.0         0.0
Bhutan                            28.0         0.0
Bolivia                          262.0         0.0
Bosnia and Herzegovina          1220.0        12.0
Brazil                         15259.0       277.0
Brunei                          1071.0         0.0
Bulgaria                        1848.0        37.0
Burkina Faso                     785.0        28.0
Cabo Verde                        21.0         3.0
Cambodia                         742.0         0.0
Cameroon                         414.0         2.0
Canada                         19675.0       199.0
...                                ...         ...
Slovakia                        1866.0         4.0
Slovenia                        5005.0        28.0
Somalia                           12.0         0.0
South Africa                    3857.0         0.0
Spain                         339754.0     20476.0
Sri Lanka                        904.0         0.0
Sudan                             26.0        14.0
Suriname                          47.0         0.0
Sweden                         25242.0       299.0
Switzerland                    80777.0       979.0
Syria                             13.0         0.0
Taiwan*                         3069.0        47.0
Tanzania                          84.0         0.0
Thailand                        7562.0        35.0
Timor-Leste                        5.0         0.0
Togo                             139.0         0.0
Trinidad and Tobago              370.0         2.0
Tunisia                          953.0        24.0
Turkey                         12101.0       263.0
US                            368951.0      5161.0
Uganda                            48.0         0.0
Ukraine                          730.0        35.0
United Arab Emirates            3077.0        14.0
United Kingdom                 65970.0      2905.0
Uruguay                         1266.0         0.0
Uzbekistan                       405.0         0.0
Venezuela                        681.0         0.0
Vietnam                         1990.0         0.0
Zambia                            45.0         0.0
Zimbabwe                          19.0         4.0

[173 rows x 2 columns]

In [73]:
#Finding the maximum number of Confirmed cases

cases["ConfirmedCases"].max()

3776300.0

In [79]:
#Finding which country hold this highest number

cases.loc[cases["ConfirmedCases"] == 3776300]

                ConfirmedCases  Fatalities
Country_Region
China                3776300.0    129278.0

## CHINA is in the first position having confirmed cases of 37,76,300

In [80]:
#Finding the maximum number of Deaths cases

cases["Fatalities"].max()

129278.0

In [81]:
#Finding which country hold this highest number

cases.loc[cases["Fatalities"] == 129278.0]

                ConfirmedCases  Fatalities
Country_Region
China                3776300.0    129278.0

## In death rate also CHINA is in the first place

In [86]:
#Finding the Top 10 Countries having highest deaths cases

cases.nlargest(10, 'Fatalities')['Fatalities']

Country_Region
China             129278.0
Italy              62574.0
Iran               21181.0
Spain              20476.0
France              7862.0
US                  5161.0
United Kingdom      2905.0
Netherlands         1973.0
Korea, South        1934.0
Germany             1148.0
Name: Fatalities, dtype: float64

In [92]:
#Finding the Top 10 Countries having highest deaths cases

cases.nlargest(10, 'ConfirmedCases')['ConfirmedCases']

Country_Region
China             3776300.0
Italy              726899.0
US                 368951.0
Spain              339754.0
Iran               335415.0
Germany            279404.0
Korea, South       209242.0
France             200600.0
Switzerland         80777.0
United Kingdom      65970.0
Name: ConfirmedCases, dtype: float64

## From the above two values, it is confirmed that some number of people got recovered from COVID-19 also